@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.sideview{
  position: absolute;
  left: 0px;
  background-color: aqua;
  width: 15vw;
  height: 100vh;

}

.mainview{
  position: absolute;
  right: 0vw;
  background-color: blueviolet;
  width: 85vw;
  height: 100vh;
}

#home{
  background-color: red;
}

#about{
  background-color: green;
}

#info{
  background-color: blue;
}